/**
 * Global
 */
$body-bg-color:#edeff0;
$body-text-color:#222;
$body-font-family:"Open Sans", sans-serif;
$body-font-size:100%;
$body-line-height:150%;
$link-color:#000;
$link-weight:600;

/**
 * Colors
 */
$primary-color:#e0e0e0;
$success-color:#5ebc41;
$error-color:#bb2828;
$footer-links-border:2px solid#ddd;
$footer-links-color:#DDD;

/**
 * Container
 */
$container-bg-color:#fff;
$container-border-radius:5px;
$container-shadow:0 2px 0 rgba(0,0,0,.1);
$container-margin:0 auto;
$container-width:90%;
$container-footer-top-border:1px solid #e8ebed;

/**
 * Buttons
 */
$button-border-radius:5px;
$button-bg-color:$primary-color;
$button-success-text-color:#fff;
$button-error-text-color:#fff;

/**
 * Nav
 */
$nav-bg-color:#444;
$nav-text-color:#fff;
$nav-link-color:#666;

/**
 * Header
 */
$header-footer-text-color:#FFF;

/**
 * Footer
 */
$footer-header-text-color:#BBB;
$top-header-bg-color:#343A40;
$footer-header-bg-color:#17A2B8;
$footer-bg-color:#252525;
$footer-bottom-bg-color:#000000;